# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

new.py
new.py

data_64_no_snow
S1A_IW_GRDH_1SDV_20180415T163146_20180415T163211_021480_025003_8E79.SAFE 
island_boundary
fall_2021/segmentation_model_sat-2-5
fall_2021/seg_model_sat-2-5.hdf5
data/downloaded_lvl1_rasters
data/unprocessed_downloads/

data/S1B_IW_GRDH_1SDV_20200910T060300_20200910T060325_023309_02C443_0BCF.zip
data/no
data/unprocessed_downloads

data/TC.tif
data/TC.dim 
data/TC_sub2.tif
data/TC_sub3.tif
data/TC.data

data/shapefiles
data/testing
data/NVE_LAKES
data/shapefiles-old/
data/FKB-vann
data/shapefiles/
data/testing/
data/NVE_LAKES/
data/FKB-vann/
data/FKB_vann/
data/subset/
data/untiled_masks/
data/untiled_rasters/
main_config.ini
data/subsets
data/processed_downloads
data/shapefiles-old
data/subsets/
data/processed_downloads/
data/processed_plots/
main_config.ini
data/DEM_merge
data/dtm10
data/DEM
data/processed_masks/
main_config.ini
main_config.ini
data/datasets/
data/tiled_images/
data/tiled_masks/
Project/data/processed_masks/
model.hdf5
data/untiled_masks
data/processed_masks
data/logs
model
model2
logs
ML/models/
nohup.out
data/temporary.py
